.pic-col {
  background-color: aquamarine;
}
.details-col {
  background-color: coral;
}
.left-col {
  border-right: 2 px solid rgb(29, 27, 27);
}
.room-comment {
  border-left: 4px solid #a1aad6;
  /* border-radius: 5px; */
}
.username {
  color: #e45641;
}
hr {
  width: auto;
  height: 1px;
  box-shadow: 1px 1px 1px lightblue;
}
/*  */

body {
  background-color: #f5f5f5;
}
.container {
  font-family: "Roboto Condensed", sans-serif;
}
.hedding {
  font-size: 20px;
  color: #448ae6;
  text-transform: capitalize;
}
.main-section {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 5%);
}
.left-side-product-box img {
  width: 100%;
}
.left-side-product-box .sub-img img {
  margin-top: 5px;
  width: 83px;
  height: 100px;
}
.right-side-pro-detail span {
  font-size: 15px;
}
.right-side-pro-detail p {
  font-size: 25px;
  color: #a1a1a1;
}
.right-side-pro-detail .price-pro {
  color: #e45641;
}
.right-side-pro-detail .tag-section {
  font-size: 18px;
  color: #5d4c46;
}
.right-side-pro-detail {
  box-shadow: 4px 4px 10px rgb(223, 226, 228);
}
.pro-box-section .pro-box img {
  width: 100%;
  height: 200px;
}
@media (min-width: 360px) and (max-width: 640px) {
  .pro-box-section .pro-box img {
    height: auto;
  }
}
