{%extends 'base.html'%}
{%load static%}
{%block head%}
<link type="text/css" rel="stylesheet" href="{% static 'css/details.css'  %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/mess_details.css' %}" />


{%endblock head%}
{%block title%}
{{mess.name}}
{%endblock title%}
{%block content%}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-7 col-md-7 m-2 details">
            <h1>{{mess.name}}</h1>
            <h6>{{mess.address}} </h6>
            <hr>
            <div class="mess-details m-3 p-3">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">

                        <h6><i class="fa-solid fa-people-group"></i> {{mess.students_num}} students</h6>
                        <h6><i class="fa-solid fa-location-dot"></i> {{mess.get_region_display}}</h6>
                        <h6><i class="fa-solid fa-house"></i> {{mess.get_structure_display}}</h6>
                        <!-- <hr> -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">

                        <h6><i class="fa-solid fa-venus-mars"></i> {{mess.get_gender_display}}</h6>
                        <h6><i class="fas fa-utensils"></i> {{mess.get_meal_system_display}}</h6>
                        <h6><i class="fas fa-road"></i> {{mess.distance}} meter from Main Gate</h6>
                    </div>
                </div>
            </div>
            <div class="row room-details m-3">
                <div class="col-sm-12">
                    <h3>Rooms of {{mess.name}}</h3>
                </div>
                <div class="col-sm-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Room No.</th>
                                <th scope="col">Floor</th>
                                <th scope="col">Beds</th>
                                <th scope="col">Price</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for room in rooms %}
                            <tr>
                                <td> <a href="{% url 'room_details' room.id %}">{{room.room_no}}</a></td>
                                <td>{{room.floor}}</td>
                                <td>{{room.bed_num}}</td>
                                <td>{{room.price}}</td>
                                <td>{% if room.status%}
                                    <span style="color: rgb(0, 126, 82);">Available</span>
                                    {% else %}
                                    <span style="color: rgb(219, 56, 15);">Unvailable</span>
                                    {% endif%}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

            </div>
        </div>

        <div class="col-lg-4 col-md-4 m-2 profile text-center">
            <h2>Owner details</h2>
            <hr>
            <img class="propic" src="{{mess.owner.user.profile_pic.url}}" alt="Profile Picture">
            <h3>{{mess.owner.user.name}}</h3>

            <a href="mailto:{{mess.owmer.email}}">
                <h6><i class="fa-solid fa-envelope"></i> {{mess.owner.user.email}}</h6>
            </a>

            <h6><i class="fas fa-phone"></i> {{mess.owner.user.number}}</h6>

        </div>
    </div>
    <!-- ======================== -->
    <!-- for comments -->
    <div class="row comments my-5 p-3">
        <h2>Reviews:</h2>
        <div class="col-sm-12">
            {% for review in reviews %}
            <div class="row my-1">
                <div class="product-comment col-lg-12 py-1">
                    <span class='username'>
                        {{review.reviewer.name}}
                    </span> <br>
                    {{review.content}}
                    <hr>

                </div>

            </div>
            {%endfor%}
        </div>
    </div>
    <!-- new comment -->
    <div class="row">
        <div class="col-lg-12 text-center pt-3">
            <h4>Leave a Review:</h4>
        </div>

        <div class="col-sm-12">
            <form action="{% url 'review' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="mess_id" value="{{mess.id}}">
                <input type="hidden" name="user_id" value="{{user.id}}">
                <div class="form-group">
                    <textarea class="form-control" name="content" id="text" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-outline-success my-3">Submit</button>
            </form>
        </div>
    </div>
</div>
{%endblock content%}