{%extends 'base.html'%}
{%load static%}
{%block head%}
<link type="text/css" rel="stylesheet" href="{% static 'css/update_room.css' %}" />
{%endblock head%}
{%block title%}
Update Room
{%endblock title%}
{%block content%}
<div class="container-fluid text-center booking-form">
    <form method='POST' class="edit-form">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Update Room {{room.room_no}}</h1>
                    <hr>
                </div>
                <div class="col">
                    <div class="form-group">
                        <span class="form-label">{{form.room_no.label}}</span>
                        {{form.room_no}}
                    </div>
                    <div class="form-group">
                        <span class="form-label">{{form.bed_num.label}}</span>
                        {{form.bed_num}}
                    </div>

                    <div class="form-group">
                        <span class="form-label">{{form.price.label}}</span>
                        {{form.price}}
                    </div>
                    <div class="form-group">
                        <span class="form-label">{{form.floor.label}}</span>
                        {{form.floor}}
                    </div>
                    <div class="form-group">
                        <span class="form-label">{{form.status.label}}</span>
                        {{form.status}}
                    </div>
                    {{form.image1}}
                    {{form.image2}}
                    {{form.image3}}
                    <!-- {{form.mess}} -->
                    <div class="form-btn">
                        <input type="submit" value="Update" class="submit-btn">
                    </div>



                </div>

            </div>
        </div>

    </form>
</div>
{% block script%}
<script>
    element = document.querySelectorAll("input, select");
    // element = element + document.getElementsByTagName("select");

    console.log(element);
    for (var i = 0; i < element.length - 2; i++) {
        element[i].classList.add('form-control');
    }
    element[element.length - 1].classList.add('form-checkbox');
</script>
{% endblock script%}
{%endblock content%}